etc/workflows/backup/fLw2edNCvElrKKo3.json
{
  "createdAt": "2025-02-03T18:52:15.988Z",
  "updatedAt": "2025-02-04T12:16:00.345Z",
  "id": "fLw2edNCvElrKKo3",
  "name": "Process Octopus - create csv",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "protocol": "sftp",
        "operation": "list",
        "path": "/dbfields/to_process"
      },
      "id": "32c2ef83-85af-4482-89dd-c9bcb43119df",
      "name": "FTP List files on ftp",
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        -2480,
        120
      ],
      "credentials": {
        "sftp": {
          "id": "8w2Qr9qTiy7DwIn6",
          "name": "SFTP account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2880,
        120
      ],
      "id": "d1533eac-a45a-460a-85d6-96609cc2df1c",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    \"output\": [\n      {\n        \"Table\": \"CEGCSOP\",\n        \"Field\": \"CEGCSOPID\",\n        \"Type\": \"int\",\n        \"Description\": \"Company group ID (int)\",\n        \"Reason\": \"CEGCSOPID stands for 'cég csoport ID,' meaning company group identifier.\"\n      },\n      {\n        \"Table\": \"CEGCSOP\",\n        \"Field\": \"CEGCSOPNEV\",\n        \"Type\": \"varchar(50)\",\n        \"Description\": \"Company group name (varchar)\",\n        \"Reason\": \"CEGCSOPNEV likely combines 'cég csoport' (company group) and 'név' (name), indicating the group's name.\"\n      },\n      {\n        \"Table\": \"CEGCSOP\",\n        \"Field\": \"TID\",\n        \"Type\": \"int\",\n        \"Description\": \"Transaction ID (int)\",\n        \"Reason\": \"TID commonly refers to 'transaction ID,' denoting the unique identifier for a transaction.\"\n      },\n      {\n        \"Table\": \"CEGCSOP\",\n        \"Field\": \"CRUS\",\n        \"Type\": \"int\",\n        \"Description\": \"Created-by user (int)\",\n        \"Reason\": \"CRUS likely stands for 'created user,' indicating who created the record.\"\n      },\n      {\n        \"Table\": \"CEGCSOP\",\n        \"Field\": \"CRDTI\",\n        \"Type\": \"datetime\",\n        \"Description\": \"Creation datetime\",\n        \"Reason\": \"CRDTI likely stands for 'creation date/time,' storing when the record was created.\"\n      },\n      {\n        \"Table\": \"CEGCSOP\",\n        \"Field\": \"UPUS\",\n        \"Type\": \"int\",\n        \"Description\": \"Updated-by user (int)\",\n        \"Reason\": \"UPUS parallels CRUS, indicating the user who updated the record.\"\n      },\n      {\n        \"Table\": \"CEGCSOP\",\n        \"Field\": \"UPDTI\",\n        \"Type\": \"datetime\",\n        \"Description\": \"Update datetime\",\n        \"Reason\": \"UPDTI parallels CRDTI, storing the date/time when the record was updated.\"\n      },\n      {\n        \"Table\": \"CEGCSOP\",\n        \"Field\": \"PARTNERCIMID\",\n        \"Type\": \"int\",\n        \"Description\": \"Partner address ID (int)\",\n        \"Reason\": \"PARTNERCIMID likely refers to the unique identifier for a partner's address.\"\n      },\n      {\n        \"Table\": \"CEGCSOP\",\n        \"Field\": \"CEGCSOPORTVEZETO\",\n        \"Type\": \"int\",\n        \"Description\": \"Company group leader ID (int)\",\n        \"Reason\": \"CEGCSOPORTVEZETO likely translates to 'cég csoport vezető,' indicating the identifier for the leader of the company group.\"\n      }\n    ]\n  },\n  {\n    \"output\": [\n      {\n        \"table\": \"PARTKAT\",\n        \"field\": \"PARTKATKOD\",\n        \"type\": \"varchar(10)\",\n        \"description\": \"Partner category code (varchar)\",\n        \"reason\": \"PARTKATKOD stands for 'partner kategória kód,' signifying a partner category code.\"\n      },\n      {\n        \"table\": \"PARTKAT\",\n        \"field\": \"PARTKATNEV\",\n        \"type\": \"varchar(40)\",\n        \"description\": \"Partner category name (varchar)\",\n        \"reason\": \"PARTKATNEV likely refers to 'partner kategória név,' making it the name of the partner category.\"\n      },\n      {\n        \"table\": \"PARTKAT\",\n        \"field\": \"PKATADAT1\",\n        \"type\": \"varchar(120)\",\n        \"description\": \"Partner category data 1 (varchar)\",\n        \"reason\": \"PKATADAT1 suggests it stores additional data about the partner category.\"\n      },\n      {\n        \"table\": \"PARTKAT\",\n        \"field\": \"PKATADAT2\",\n        \"type\": \"varchar(120)\",\n        \"description\": \"Partner category data 2 (varchar)\",\n        \"reason\": \"PKATADAT2 likely serves as another field for extra data regarding the partner category.\"\n      },\n      {\n        \"table\": \"PARTKAT\",\n        \"field\": \"PKATADAT3\",\n        \"type\": \"varchar(120)\",\n        \"description\": \"Partner category data 3 (varchar)\",\n        \"reason\": \"PKATADAT3 is presumably an additional field for even more partner category data.\"\n      },\n      {\n        \"table\": \"PARTKAT\",\n        \"field\": \"TID\",\n        \"type\": \"int\",\n        \"description\": \"Transaction ID (int)\",\n        \"reason\": \"TID typically refers to 'transaction ID,' used for identifying transactions.\"\n      },\n      {\n        \"table\": \"PARTKAT\",\n        \"field\": \"CRDTI\",\n        \"type\": \"datetime\",\n        \"description\": \"Creation datetime\",\n        \"reason\": \"CRDTI stands for 'creation date/time,' storing when the partner category record was created.\"\n      },\n      {\n        \"table\": \"PARTKAT\",\n        \"field\": \"CRUS\",\n        \"type\": \"int\",\n        \"description\": \"Created-by user (int)\",\n        \"reason\": \"CRUS likely stands for 'created user,' indicating who created the partner category record.\"\n      },\n      {\n        \"table\": \"PARTKAT\",\n        \"field\": \"UPDTI\",\n        \"type\": \"datetime\",\n        \"description\": \"Update datetime\",\n        \"reason\": \"UPDTI parallels CRDTI, storing the date/time when the partner category record was last updated.\"\n      },\n      {\n        \"table\": \"PARTKAT\",\n        \"field\": \"UPUS\",\n        \"type\": \"int\",\n        \"description\": \"Updated-by user (int)\",\n        \"reason\": \"UPUS indicates the user who updated the partner category record.\"\n      },\n      {\n        \"table\": \"PARTKAT\",\n        \"field\": \"LEIRAS\",\n        \"type\": \"varchar\",\n        \"description\": \"Description (varchar)\",\n        \"reason\": \"LEIRAS likely represents a descriptive text about the partner category.\"\n      },\n      {\n        \"table\": \"PARTKAT\",\n        \"field\": \"WEBESLEIRAS\",\n        \"type\": \"varchar\",\n        \"description\": \"Web description (varchar)\",\n        \"reason\": \"WEBESLEIRAS likely refers to a description intended for web representation of the partner category.\"\n      },\n      {\n        \"table\": \"PARTKAT\",\n        \"field\": \"ELOFOGLKEZ\",\n        \"type\": \"int\",\n        \"description\": \"Pre-condition handling ID (int)\",\n        \"reason\": \"ELOFOGLKEZ possibly stands for 'előfoglalás kezelés,' which could indicate handling pre-conditions.\"\n      },\n      {\n        \"table\": \"PARTKAT\",\n        \"field\": \"ELOFOGLTIPID\",\n        \"type\": \"int\",\n        \"description\": \"Pre-condition type ID (int)\",\n        \"reason\": \"ELOFOGLTIPID likely signifies an ID for the type of pre-condition related to the partner category.\"\n      }\n    ]\n  },\n  {\n    \"output\": [\n      {\n        \"Table\": \"REGIO\",\n        \"Field\": \"REGIOKOD\",\n        \"Type\": \"int\",\n        \"Description\": \"Region code (int)\",\n        \"Reason\": \"REGIOKOD likely refers to a code that uniquely identifies a region.\"\n      },\n      {\n        \"Table\": \"REGIO\",\n        \"Field\": \"REGIONEV\",\n        \"Type\": \"varchar(30)\",\n        \"Description\": \"Region name (varchar)\",\n        \"Reason\": \"REGIONEV suggests it represents the name of the region, with 'nev' indicating 'name' in Hungarian.\"\n      },\n      {\n        \"Table\": \"REGIO\",\n        \"Field\": \"TID\",\n        \"Type\": \"int\",\n        \"Description\": \"Transaction ID (int)\",\n        \"Reason\": \"TID could stand for 'Transaction ID,' often used as a unique identifier for transactions.\"\n      },\n      {\n        \"Table\": \"REGIO\",\n        \"Field\": \"CRUS\",\n        \"Type\": \"int\",\n        \"Description\": \"Created-by user (int)\",\n        \"Reason\": \"CRUS likely stands for 'created user,' indicating who created the record.\"\n      },\n      {\n        \"Table\": \"REGIO\",\n        \"Field\": \"CRDTI\",\n        \"Type\": \"datetime\",\n        \"Description\": \"Creation datetime\",\n        \"Reason\": \"CRDTI likely stands for 'creation date/time,' storing when the record was created.\"\n      },\n      {\n        \"Table\": \"REGIO\",\n        \"Field\": \"UPUS\",\n        \"Type\": \"int\",\n        \"Description\": \"Updated-by user (int)\",\n        \"Reason\": \"UPUS parallels CRUS, indicating the user who updated the record.\"\n      },\n      {\n        \"Table\": \"REGIO\",\n        \"Field\": \"UPDTI\",\n        \"Type\": \"datetime\",\n        \"Description\": \"Update datetime\",\n        \"Reason\": \"UPDTI parallels CRDTI, storing the date/time when the record was updated.\"\n      },\n      {\n        \"Table\": \"REGIO\",\n        \"Field\": \"PARTMANAGERKOD\",\n        \"Type\": \"int\",\n        \"Description\": \"Partner manager code (int)\",\n        \"Reason\": \"PARTMANAGERKOD stands for 'partner manager kód,' used for identifying a partner manager.\"\n      }\n    ]\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1260,
        -540
      ],
      "id": "0353919b-d334-4647-a9e0-41d901f6a92f",
      "name": "return sample data",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1560,
        100
      ],
      "id": "71820ff7-fde7-4b78-b81c-7b16577bf7fe",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "maxItems": 2000
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -1960,
        120
      ],
      "id": "5d17ea79-dde0-4e17-be03-d40678260b07",
      "name": "Limit"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.name }}",
              "operation": "endsWith",
              "value2": "json"
            }
          ]
        }
      },
      "id": "8484e6fc-8c2f-49ce-98d8-516683a23203",
      "name": "Filter only JSONs",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        -2180,
        120
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -1820,
        560
      ],
      "id": "e8c722df-05fc-491e-8512-51708a5d4e84",
      "name": "Merge"
    },
    {
      "parameters": {
        "options": {
          "fileName": "=octopus_tables_and_fields.csv"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -460,
        0
      ],
      "id": "a85be25f-f92e-4207-97e3-4170c84a7dc4",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "resource": "file",
        "path": "=dbfields/csv",
        "options": {
          "fileName": "={{ $binary.data.fileName }}"
        }
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -120,
        20
      ],
      "id": "1fa42977-d4ed-4a2f-a161-ffc8c028eebe",
      "name": "Upload file via SSH",
      "credentials": {
        "sshPassword": {
          "id": "eoOYUfiDJDXPvU27",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "protocol": "sftp",
        "path": "={{ $json.path }}"
      },
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        -980,
        280
      ],
      "id": "34458d7d-d997-490c-ac37-029bf2db88f9",
      "name": "FTP",
      "credentials": {
        "sftp": {
          "id": "8w2Qr9qTiy7DwIn6",
          "name": "SFTP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -760,
        280
      ],
      "id": "20ac660c-ff86-40f9-acf9-7b2fb2d5490a",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "data"
            }
          ]
        },
        "options": {
          "mergeLists": true
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1200,
        0
      ],
      "id": "0e9c0a78-920c-41d3-8847-4819091df26c",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -880,
        0
      ],
      "id": "8b0afaad-3efc-47dc-8130-afb4e3b6fab4",
      "name": "Split Out"
    }
  ],
  "connections": {
    "FTP List files on ftp": {
      "main": [
        [
          {
            "node": "Filter only JSONs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "FTP List files on ftp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "return sample data": {
      "main": [
        []
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter only JSONs": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Upload file via SSH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FTP": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "fc676a35-2741-43ce-b45f-1101becadc2a",
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "createdAt": "2025-04-02T12:39:45.945Z",
      "updatedAt": "2025-04-02T12:39:45.945Z",
      "role": "workflow:owner",
      "workflowId": "fLw2edNCvElrKKo3",
      "projectId": "8CGNWCigao1I4jrt",
      "project": {
        "createdAt": "2025-04-02T11:57:30.751Z",
        "updatedAt": "2025-04-02T12:39:24.926Z",
        "id": "8CGNWCigao1I4jrt",
        "name": "istvano orbani <admin@localhost.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}