etc/workflows/A1_FTP.json
{
  "name": "A1 FTP",
  "nodes": [
    {
      "parameters": {
        "protocol": "sftp",
        "path": "={{ $json.path }}",
        "binaryPropertyName": "File"
      },
      "id": "21e700ab-e340-480d-972c-b1cb028b4e51",
      "name": "FTP Download file",
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        -300,
        1160
      ],
      "credentials": {
        "sftp": {
          "id": "8w2Qr9qTiy7DwIn6",
          "name": "SFTP account"
        }
      }
    },
    {
      "parameters": {
        "protocol": "sftp",
        "operation": "list"
      },
      "id": "cf78677c-361d-4b95-9ae2-89d815ab1703",
      "name": "FTP List files on ftp",
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        -1000,
        1160
      ],
      "credentials": {
        "sftp": {
          "id": "8w2Qr9qTiy7DwIn6",
          "name": "SFTP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "limit"
      },
      "id": "b1e68bb0-45e9-43e6-a5ea-c0d423dc4108",
      "name": "Pick file",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2.1,
      "position": [
        -560,
        1160
      ]
    },
    {
      "parameters": {
        "protocol": "sftp",
        "operation": "rename",
        "oldPath": "={{ $json.path }}",
        "newPath": "=/done/{{ $json.name }}",
        "options": {
          "createDirectories": true
        }
      },
      "id": "f48bdc5b-c2c0-49f6-957f-c3af42f2ed5a",
      "name": "FTP Move file",
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        80,
        1460
      ],
      "credentials": {
        "sftp": {
          "id": "8w2Qr9qTiy7DwIn6",
          "name": "SFTP account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.name }}",
              "operation": "contains",
              "value2": "pdf"
            }
          ]
        }
      },
      "id": "d6c9cbe2-bd9b-4138-9b20-072c65e6b512",
      "name": "Filter only PDFs",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        -780,
        1160
      ]
    },
    {
      "parameters": {},
      "id": "a3d677ac-56f2-4913-ad56-9aacd51fde0b",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1240,
        1160
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "BRBuCszQInz9hYba",
          "mode": "list",
          "cachedResultName": "Process A1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -20,
        1160
      ],
      "id": "2eaa3e04-0600-45b6-a824-52a74991a0de",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "options": {
          "fileName": "={{ $('FTP Download file').item.json.name }}.csv"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        240,
        1160
      ],
      "id": "b18c9cec-9303-46db-a2d6-152d713dd660",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const dateObj = new Date();\n  \n  // Format to YYYY-MM-DD\n  const year = dateObj.getFullYear();\n  const month = String(dateObj.getMonth() + 1).padStart(2, '0');\n  const day = String(dateObj.getDate()).padStart(2, '0');\n  \n  const folder = `${year}-${month}-${day}`;\n  \n  // Attach folderName to item’s JSON\n  item.json.folder = folder;\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        1160
      ],
      "id": "cb037d7b-b5ac-4455-be24-2687b439baa0",
      "name": "Date creation"
    },
    {
      "parameters": {
        "resource": "file",
        "path": "=csv",
        "options": {
          "fileName": "={{ $json.folder }}_{{ $binary.data.fileName }}"
        }
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        760,
        1160
      ],
      "id": "db0f1ec4-7672-4b1f-9366-9204ceb1ccb6",
      "name": "Upload file via SSH",
      "credentials": {
        "sshPassword": {
          "id": "eoOYUfiDJDXPvU27",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "protocol": "sftp",
        "operation": "rename",
        "oldPath": "=/csv/{{ $('Date creation').item.json.folder }}_{{ $('Date creation').item.binary.data.fileName}}",
        "newPath": "=/csv/{{ $('Date creation').item.json.folder }}/{{ $('Date creation').item.binary.data.fileName}}",
        "options": {
          "createDirectories": true
        }
      },
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        980,
        1160
      ],
      "id": "9a0835b0-d7f9-443c-879e-3872c2b86eae",
      "name": "Move file to folder",
      "credentials": {
        "sftp": {
          "id": "8w2Qr9qTiy7DwIn6",
          "name": "SFTP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n    \"familyName\": \"DR. NYAKA\",\n    \"firstName\": \"GERGELY\",\n    \"birthName\": \"\",\n    \"birthDate\": \"1986.04.24\",\n    \"NInumber\": \"040895879\",\n    \"memberCountry\": \"HUN\",\n    \"startDay\": \"2017.12.01\",\n    \"lastDay\": \"2019.11.30\",\n    \"sendingCompanyName\": \"HR-RENT SZOLGÁLTATÓ KFT.\",\n    \"employingCompanyName\": \"HR-RENT KFT.\",\n    \"employingCompanyCountry\": \"DEU\"\n  };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -420,
        860
      ],
      "id": "bdf97807-5f53-4c18-b6d3-3f27366b22a4",
      "name": "Test Data"
    }
  ],
  "pinData": {},
  "connections": {
    "FTP Download file": {
      "main": [
        [
          {
            "node": "FTP Move file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FTP List files on ftp": {
      "main": [
        [
          {
            "node": "Filter only PDFs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick file": {
      "main": [
        [
          {
            "node": "FTP Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter only PDFs": {
      "main": [
        [
          {
            "node": "Pick file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "FTP List files on ftp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Date creation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date creation": {
      "main": [
        [
          {
            "node": "Upload file via SSH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file via SSH": {
      "main": [
        [
          {
            "node": "Move file to folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Data": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9892390f-a659-48cc-8df8-4f089248b4b4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92"
  },
  "id": "jAFw8jGI1h7PrT7t",
  "tags": []
}