etc/workflows/A1_FTP.json
{
  "name": "A1 FTP",
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "WhD7CvvuOR2pXelD",
          "mode": "list",
          "cachedResultName": "Process A1 with OCR"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        640,
        -160
      ],
      "id": "ea73bf1c-b51d-49a7-82dd-b575467b1489",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "protocol": "sftp",
        "path": "=/a1/processing/{{ $json.name }}",
        "binaryPropertyName": "File"
      },
      "id": "8ca25704-7ddd-4132-b996-1af4381fcf9b",
      "name": "FTP Download file",
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        420,
        -160
      ],
      "credentials": {
        "sftp": {
          "id": "POQlMrGKcBkeEULs",
          "name": "SFTP account"
        }
      }
    },
    {
      "parameters": {
        "protocol": "sftp",
        "operation": "list",
        "path": "/a1/to process"
      },
      "id": "4df60302-496f-483b-832b-f842a5532ae4",
      "name": "FTP List files on ftp",
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        -1120,
        240
      ],
      "credentials": {
        "sftp": {
          "id": "POQlMrGKcBkeEULs",
          "name": "SFTP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "limit",
        "maxItems": 50
      },
      "id": "2f6a8e66-02c6-4bdb-814d-9fe020b8332f",
      "name": "Pick file",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2.1,
      "position": [
        -640,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.name }}",
              "operation": "endsWith",
              "value2": "pdf"
            }
          ]
        }
      },
      "id": "7f1c3f4a-1817-4ff2-b73a-4fae4c5542f7",
      "name": "Filter only PDFs",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        -900,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const dateObj = new Date();\n  \n  const year = dateObj.getFullYear();\n  const month = String(dateObj.getMonth() + 1).padStart(2, '0');\n  const day = String(dateObj.getDate()).padStart(2, '0');\n  \n  const hours = String(dateObj.getHours()).padStart(2, '0');\n  const minutes = String(dateObj.getMinutes()).padStart(2, '0');\n  const seconds = String(dateObj.getSeconds()).padStart(2, '0');\n\n  const folder = `${year}-${month}-${day}-${hours}-${minutes}-${seconds}`;\n  \n  // Attach folderName to item’s JSON\n  item.json.folder = folder;\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1340,
        240
      ],
      "id": "7a3a6654-993b-4257-a347-cd2fd2db0c02",
      "name": "Date creation"
    },
    {
      "parameters": {
        "resource": "file",
        "path": "=a1/csv",
        "options": {
          "fileName": "={{ $('Date creation').item.json.folder }}_{{ $binary.data.fileName }}"
        }
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        960,
        240
      ],
      "id": "8713bd29-074c-4139-a442-71e5dc152884",
      "name": "Upload file via SSH",
      "credentials": {
        "sshPassword": {
          "id": "pNQNZvKw6DATl602",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "protocol": "sftp",
        "operation": "rename",
        "oldPath": "=a1/csv/{{ $('Date creation').item.json.folder }}_{{ $('Convert to CSV').item.binary.data.fileName}}",
        "newPath": "=/a1/csv/{{ $('Date creation').item.json.folder }}/{{ $('Convert to CSV').item.binary.data.fileName}}",
        "options": {
          "createDirectories": true
        }
      },
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        960,
        500
      ],
      "id": "a4fa74b7-3fa5-4fc8-a885-d55e0113ba48",
      "name": "Move file to folder",
      "credentials": {
        "sftp": {
          "id": "POQlMrGKcBkeEULs",
          "name": "SFTP account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -340,
        240
      ],
      "id": "38c0b311-436f-4f1c-ad8b-bf182b141f7a",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "protocol": "sftp",
        "operation": "rename",
        "oldPath": "={{ $json.path }}",
        "newPath": "=/a1/processing/{{ $json.name }}",
        "options": {
          "createDirectories": true
        }
      },
      "id": "9b3b792f-4814-4bb9-91fd-c9e1199776a6",
      "name": "FTP Move file to Processing",
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        -120,
        480
      ],
      "credentials": {
        "sftp": {
          "id": "POQlMrGKcBkeEULs",
          "name": "SFTP account"
        }
      }
    },
    {
      "parameters": {
        "protocol": "sftp",
        "operation": "rename",
        "oldPath": "=/a1/processing/{{ $('Merge').item.json.name }}",
        "newPath": "=/a1/done/{{ $('Merge').item.json.name }}",
        "options": {
          "createDirectories": true
        }
      },
      "id": "da13ef30-2ae2-488d-888c-e5473a2d5d45",
      "name": "FTP Move file to Done",
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        960,
        720
      ],
      "credentials": {
        "sftp": {
          "id": "POQlMrGKcBkeEULs",
          "name": "SFTP account"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        100,
        240
      ],
      "id": "3076b328-e426-44b4-804a-e545a751f960",
      "name": "Merge"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Add a new field called 'myNewField' to the JSON of the item\n\nreturn {\n  \"id\": 1,\n  \"name\": \"John\"\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        -400
      ],
      "id": "1b849bdb-b5b2-4c68-aeea-028eb5d8f870",
      "name": "Code",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1520,
        700
      ],
      "id": "325e0dda-7583-4744-8b0d-51135bda7ec5",
      "name": "Merge upload and csv"
    },
    {
      "parameters": {
        "fromEmail": "noreply@hr-group.hu",
        "toEmail": "={{ $('Form').item.json['Email'] }}",
        "subject": "Az A1(k) feldolgozasa elkeszult",
        "emailFormat": "text",
        "text": "A munkafolyamatod sikeresen feldolgozásra került, kérlek, keresd a csatolt a XLSX fájlt az e-mailben, amely tartalmazza az eredmenyeket.",
        "options": {
          "appendAttribution": false,
          "attachments": "=data"
        }
      },
      "id": "2a7f1888-0807-477f-a9c5-a591cbd6f490",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        60,
        0
      ],
      "credentials": {
        "smtp": {
          "id": "HvaFmlUrvL4Xz7Re",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "fileName": "=Processed_A1_{{ $('Date creation').item.json.folder }}.csv"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -160,
        0
      ],
      "id": "a82e34f7-9923-4eb9-b677-b6d730d49343",
      "name": "Convert to XLS"
    },
    {
      "parameters": {
        "options": {
          "fileName": "={{ $('FTP Download file').item.json.name }}.csv"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        900,
        -160
      ],
      "id": "7be9c40f-20f0-45a0-abf0-7cd6b4914d5b",
      "name": "Convert to CSV"
    },
    {
      "parameters": {
        "formTitle": "A1 FTP Feldolgozás",
        "formDescription": "Az FTP szerverre feltöltött 'to_process' könyvtárban található fájlok feldolgozása",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false,
          "buttonLabel": "Indítás",
          "respondWithOptions": {
            "values": {
              "formSubmittedText": "Az FTP szerverre feltöltött 'to_process' könyvtárban található fájlok feldolgozása elindul. Az eredményt e-mailben fogjuk elküldeni."
            }
          }
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -1540,
        240
      ],
      "id": "736d2d03-5447-479d-a4ae-de029daa4e36",
      "name": "Form",
      "webhookId": "bda93c3c-fbc7-4d4a-8b28-8dbcda79461f"
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Convert to CSV",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge upload and csv",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FTP Download file": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FTP List files on ftp": {
      "main": [
        [
          {
            "node": "Filter only PDFs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter only PDFs": {
      "main": [
        [
          {
            "node": "Pick file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date creation": {
      "main": [
        [
          {
            "node": "FTP List files on ftp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file via SSH": {
      "main": [
        [
          {
            "node": "Move file to folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file to folder": {
      "main": [
        [
          {
            "node": "FTP Move file to Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Convert to XLS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FTP Move file to Processing",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FTP Move file to Processing": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "FTP Move file to Done": {
      "main": [
        [
          {
            "node": "Merge upload and csv",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "FTP Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        []
      ]
    },
    "Merge upload and csv": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to XLS": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to CSV": {
      "main": [
        [
          {
            "node": "Upload file via SSH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form": {
      "main": [
        [
          {
            "node": "Date creation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "any",
    "errorWorkflow": "pDBif1hgmdnILuw9"
  },
  "versionId": "10bbe5fd-104b-4b55-b69b-1823fc26640c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7cfddeb6999f34b6da92291d1629f587d828f7bfb858bf018672cb83a32e762c"
  },
  "id": "AeJRG3WHHlQvjcxA",
  "tags": []
}