etc/workflows/A1_FTP.json
{
  "name": "A1 FTP",
  "nodes": [
    {
      "parameters": {
        "protocol": "sftp",
        "path": "=/a1/processing/{{ $json.name }}",
        "binaryPropertyName": "File"
      },
      "id": "561b5f29-136d-48aa-920a-048d12f50df7",
      "name": "FTP Download file",
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        -600,
        340
      ],
      "credentials": {
        "sftp": {
          "id": "8w2Qr9qTiy7DwIn6",
          "name": "SFTP account"
        }
      }
    },
    {
      "parameters": {
        "protocol": "sftp",
        "operation": "list",
        "path": "/a1/"
      },
      "id": "3fc2f7ad-9746-485b-b02c-49d9d26c6a96",
      "name": "FTP List files on ftp",
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        -2140,
        740
      ],
      "credentials": {
        "sftp": {
          "id": "8w2Qr9qTiy7DwIn6",
          "name": "SFTP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "limit",
        "maxItems": 5
      },
      "id": "392a3333-68a2-4a99-9014-0547840d984b",
      "name": "Pick file",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2.1,
      "position": [
        -1700,
        740
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.name }}",
              "operation": "endsWith",
              "value2": "pdf"
            }
          ]
        }
      },
      "id": "e604033e-cb69-49b6-864d-af1547a85885",
      "name": "Filter only PDFs",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        -1920,
        740
      ]
    },
    {
      "parameters": {
        "options": {
          "fileName": "={{ $('FTP Download file').item.json.name }}.csv"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -120,
        340
      ],
      "id": "4a0415d2-90cc-41c0-8376-5d4af5c3277e",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const dateObj = new Date();\n  \n  // Format to YYYY-MM-DD\n  const year = dateObj.getFullYear();\n  const month = String(dateObj.getMonth() + 1).padStart(2, '0');\n  const day = String(dateObj.getDate()).padStart(2, '0');\n  \n  const folder = `${year}-${month}-${day}`;\n  \n  // Attach folderName to item’s JSON\n  item.json.folder = folder;\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        340
      ],
      "id": "4fefb552-05e7-4932-b156-abde98667e5d",
      "name": "Date creation"
    },
    {
      "parameters": {
        "resource": "file",
        "path": "=a1/csv",
        "options": {
          "fileName": "={{ $json.folder }}_{{ $binary.data.fileName }}"
        }
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        460,
        340
      ],
      "id": "75bae241-cf67-4cc1-9196-67a74a2010a1",
      "name": "Upload file via SSH",
      "credentials": {
        "sshPassword": {
          "id": "eoOYUfiDJDXPvU27",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "protocol": "sftp",
        "operation": "rename",
        "oldPath": "=a1/csv/{{ $('Date creation').item.json.folder }}_{{ $('Date creation').item.binary.data.fileName}}",
        "newPath": "=/a1/csv/{{ $('Date creation').item.json.folder }}/{{ $('Date creation').item.binary.data.fileName}}",
        "options": {
          "createDirectories": true
        }
      },
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        780,
        340
      ],
      "id": "fe22d440-7077-4682-80b7-edc57a11085d",
      "name": "Move file to folder",
      "credentials": {
        "sftp": {
          "id": "8w2Qr9qTiy7DwIn6",
          "name": "SFTP account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "P9IuTzIArUaP4Q9U",
          "mode": "list",
          "cachedResultName": "Process A1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -340,
        340
      ],
      "id": "ba5aabcf-a238-4a02-a139-b468abac14d3",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2460,
        740
      ],
      "id": "fa349997-5467-489c-85f0-6277ce64e012",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "return [{\n    \"familyName\": \"DR. NYAKA\",\n    \"firstName\": \"GERGELY\",\n    \"birthName\": \"\",\n    \"birthDate\": \"1986.04.24\",\n    \"NInumber\": \"040895879\",\n    \"memberCountry\": \"HUN\",\n    \"startDay\": \"2017.12.01\",\n    \"lastDay\": \"2019.11.30\",\n    \"sendingCompanyName\": \"HR-RENT SZOLGÁLTATÓ KFT.\",\n    \"employingCompanyName\": \"HR-RENT KFT.\",\n    \"employingCompanyCountry\": \"DEU\"\n  }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -360,
        -40
      ],
      "id": "cf0a6a47-7596-4081-a2fd-88a08216347e",
      "name": "Test Data",
      "disabled": true
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1360,
        740
      ],
      "id": "4840b155-d8d2-48d9-a24a-e63560dba117",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "protocol": "sftp",
        "operation": "rename",
        "oldPath": "={{ $json.path }}",
        "newPath": "=/a1/processing/{{ $json.name }}",
        "options": {
          "createDirectories": true
        }
      },
      "id": "c23d4eb0-c5be-48ad-b946-7a66c2d257e4",
      "name": "FTP Move file to Processing",
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        -1160,
        380
      ],
      "credentials": {
        "sftp": {
          "id": "8w2Qr9qTiy7DwIn6",
          "name": "SFTP account"
        }
      }
    },
    {
      "parameters": {
        "protocol": "sftp",
        "operation": "rename",
        "oldPath": "=/a1/processing/{{ $('Merge').item.json.name }}",
        "newPath": "=/a1/done/{{ $('Merge').item.json.name }}",
        "options": {
          "createDirectories": true
        }
      },
      "id": "5d7d5bce-0e66-484a-b4d7-e2dcc30ed5d8",
      "name": "FTP Move file to Done",
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        -440,
        820
      ],
      "credentials": {
        "sftp": {
          "id": "8w2Qr9qTiy7DwIn6",
          "name": "SFTP account"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -940,
        740
      ],
      "id": "f3cbbf78-2a67-4290-b0f3-3c7b698a6652",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "FTP Download file": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FTP List files on ftp": {
      "main": [
        [
          {
            "node": "Filter only PDFs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter only PDFs": {
      "main": [
        [
          {
            "node": "Pick file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Date creation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date creation": {
      "main": [
        [
          {
            "node": "Upload file via SSH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file via SSH": {
      "main": [
        [
          {
            "node": "Move file to folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file to folder": {
      "main": [
        [
          {
            "node": "FTP Move file to Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "FTP List files on ftp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "FTP Move file to Processing",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "FTP Move file to Processing": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FTP Move file to Done": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "FTP Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f7878321-1e26-4e33-8c98-fae2826af29b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92"
  },
  "id": "jAFw8jGI1h7PrT7t",
  "tags": []
}